{% extends "accounts/base.html" %} {% load i18n %}

<!-- pass1234 -->
{% block content %}
<div class='row'>
    <div class='col-md-3'>
    </div>
    <div class='col-md-6'>
        <h3>Account info</h3>
        <div class="alert alert-warning" role="alert">Ensure there you add an email</div>
        <div class="alert alert-warning" role="alert">Click update and you will receive an email. Click the link in the email to activate email before proceeding</div>
        <form method="post" id="profileForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">User Name<span class="required">*</span></label>
                        {{profileForm.user_name}}
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        {{profileForm.email}}
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">First Name<span class="required">*</span></label>
                        {{profileForm.first_name}}
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Second Name</label>
                        {{profileForm.second_name}}
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        {{profileForm.last_name}}
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Password <span class="required">*</span></label>
                        {{profileForm.old_password}}
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <input class='btn btn-block btn-primary' id="update_profile" type="submit" value="Update" />
        </form>
    </div>
    <div class='col-md-3'>
    </div>
</div>

<hr/>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 text-align-center'>
    </div>
</div>

{% endblock %}